<div ng-if="!options.conflicts">

</div>
<div ng-if="options.conflicts">

  <h3>{{options.main_display_name}} vs {{options.other_display_name}}</h3>
  <div ng-repeat="(entity, conflicts) in options.conflicts">
    <div ng-repeat="(key, conflict) in conflicts">
      <span ng-if="conflict['title']">{{conflict['title']}}</span>
      <span ng-if="!conflict['title']">{{key}}</span>
      <span ng-if="!conflict['display']"><del>{{conflict[options.main_id]}}</del> <strong>{{conflict[options.other_id]}}</strong></span>
      <div ng-if="conflict['display']"><div></div><del>{{conflict['display'][options.main_id]}}</del></div><div> <strong>{{conflict['display'][options.other_id]}}</strong></div>

      <div ng-if="(key === 'first_name')" class="accordion" id="accordion-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
        <div class="card">
          <div class="card-header" id="other-is-nick-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
            <span class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}" aria-expanded="false" aria-controls="collapseOne-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
                Mark {{conflict[options.other_id]}} as nickname of {{conflict[options.main_id]}}
              </button>
            </span>
          </div>

          <div id="collapseOne-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}" class="collapse" aria-labelledby="other-is-nick-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}"data-parent="accordion-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
            <div class="card-body">
              <div name-pair="{name_a: conflict[options.main_id], name_b: conflict[options.other_id], is_name_b_nickname: 1}"></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="main-is-nick-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
            <span class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}" aria-expanded="false" aria-controls="collapseTwo-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
                Mark {{conflict[options.main_id]}} as nickname of {{conflict[options.other_id]}}
              </button>
            </span>
          </div>
          <div id="collapseTwo-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}" class="collapse" aria-labelledby="main-is-nick-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}" data-parent="accordion-{{conflict[options.other_id]}}-{{conflict[options.main_id]}}">
            <div class="card-body">
              <div name-pair="{name_b: conflict[options.main_id], name_a: conflict[options.other_id], is_name_b_nickname: 1}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
